* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main p {
    text-align: center;
    margin: 0.5rem;
    margin-bottom: 0rem;
}

#main input {
    height: 2rem;
    margin: 0.5rem;
    font-size: 2rem;
    text-align: center;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 25vh;
    align-items: center;
}

#header div{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

#header div h1 {
    font-size: 2.5rem;
}

#header div h2 {
    font-size: 1.5rem;
}

#header div a {
    font-size: 2rem;
    color: black;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    width: 70%;
    padding: 0.5rem;
}

#header #one {
    width: 100%;
    height: 50%;
}

#header #two {
    width: 100%;
    height: 50%;
}

#angles {
    border-bottom: 1rem solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 3rem;
    width: 80%;
    align-self: center;
}

#angles * {
    width: 80%;
}

#sides {
    border-bottom: 1rem solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 3rem;
    width: 80%;
    align-self: center;
}

#sides * {
    width: 80%;
}

#other {
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#other #reset-button {
    width: 80%;
    height: 5rem;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    color: white;
    border: 0.2rem solid lightgray;
    text-transform: none;
}

#other #reset-button:hover {
    background-color: white;
    color: lightgray;
    text-transform: none;
}

#other #reset-button:focus {
    outline: 0;
    text-transform: uppercase;
}

#header #two a:hover {
    border: 0.2rem solid white;
    background-color: lightgray;
    color: white;
}

@media only screen and (min-width: 800px){
    html {
        font-size: 16px;
    }

    #header {
        height: 20vh;
        flex-direction: row;
    }

    #header #one {
        align-items: baseline;
        align-self: center;
        margin-left: 1rem;
        margin-top: 0rem;
    }

    #header #two {
        width: 50%;
    }

    #main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 1fr;
    }

    #main div {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }

    #angles {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
    }

    #sides {
        grid-row: 1;
        grid-column: 2;
        width: 100%;
    }

    #main #other {
        width: 100%;
    }

    #other {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
}

@media only screen and (max-height: 500px){
    #header {
        height: 150px;
        min-height: 150px;
    }
}